
.u-section-1 .u-sheet-1 {
  height: 1000px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-family: ONEMobileTitle;
  font-weight: 400;
  margin: 76px auto 0 64px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1066px;
  height: 1000px;
  margin: 28px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 371px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 20px 0;
}

.u-section-1 .u-image-1 {
  width: 331px;
  height: 331px;
  margin: 6px 0 0 auto;
}

.u-section-1 .u-btn-1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  background-image: none;
  font-family: ONEMobileTitle;
  margin: 40px auto 0;
  padding: 16px 41px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1140px;
  margin: 47px -2px 0 auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 358px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-family: ONEMobileTitle;
  margin: 98px 148px 0 171px;
}

.u-section-1 .u-btn-2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-family: ONEMobileTitle;
  margin: 34px auto 0;
  padding: 16px 41px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 358px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 317px;
  height: 317px;
  margin: 0 auto 0 -30px;
}

.u-section-1 .u-layout-wrap-3 {
  width: 966px;
  margin: 0 auto 60px 87px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 407px;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 0 0;
}

.u-section-1 .u-image-3 {
  width: 331px;
  height: 331px;
  margin: 27px auto 0 14px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 407px;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 60px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-family: ONEMobileTitle;
  margin: 134px 28px 0 64px;
}

.u-section-1 .u-btn-3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  background-image: none;
  font-family: ONEMobileTitle;
  margin: 45px 141px 0 auto;
  padding: 16px 41px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    height: 1000px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 291px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 373px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}@font-face {
  font-family: 'ONEMobileTitle';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ONEMobileTitle.ttf);
}