.u-section-1 .u-sheet-1 {
  height: 1500px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-family: ONEMobileTitle;
  font-weight: 400;
  margin: 40px auto 0 50px;
}

.u-section-1 .u-text-2 {
  font-family: ONEMobileTitle;
  font-weight: 400;
  font-size: 2rem;
  margin: 0 181px 0 auto;
}

.u-section-1 .u-btn-1 {
  margin: 15px auto 38px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 136px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    height: 1000px;
  }
  .u-section-1 .u-btn-1 {
    top: 500px;
  }
  .u-section-1 .u-text-2 {
    margin-right: 86px;
  }
}@font-face {
  font-family: 'ONEMobileTitle';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ONEMobileTitle.ttf);
}